

.homeMain{
    background-image: url(./Assets/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    color: white;
  
}


.overlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0, 0, 0, 0.7);
}

.inner{
    padding-top: 150px;
}